 body { 
  font-family: Arial, sans-serif; padding: 20px; 
 }
    button { 
     margin: 50px; padding: 50px; font-size: 50px; 
    }
    #contador {
     font-weight: bold; margin-bottom: 20px; color: darkred;
    }
    body{
        background-color: rgb(3, 129, 98); 
    }
 p2{
    color: beige;
    font-size: 50px;
 }  
 h1{
    font-size: 30px; 
    border-style: 30px;
 }
