html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "MinhaFonte";
  src: url('PressStart2P-Regular.ttf') format('truetype');
}
body{
   background-image: url(8-bit-graphics-pixels-scene-with-forest.jpg);
   background-size: cover;        
  background-repeat: no-repeat;  
  background-position: center;
 }
 .caixa-pergunta {
  background-color: #ffffffcc; /* branco com leve transparência */
  border: 2px rgb(0, 112, 47);
  border-radius: 10px;
  padding: 40px; /* aumentei o padding para dar mais espaço interno */
  width: 80%; /* ocupa 80% da largura da tela */
  max-width: 800px; /* limite máximo maior */
  margin: 40px auto; /* centraliza horizontalmente */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* sombra mais intensa */
  font-family: 'MinhaFonte', sans-serif;
  font-size: small;
  position: center;
  transform: translateY(80%);
}


.contador{
  background-color: rgba(112, 128, 144, 0);
  color: rgba(61, 73, 86, 0);
}
#certa {
  font-size: 40px;
  color: #000000;
  margin: 80px;
  border-color: black;
  text-align: center;
  font-family: 'VT323', monospace; /* fonte quadrada estilo terminal */
  text-shadow: 3px 3px 0 #000000, 
}

button {
  color: black;
  background-color: gainsboro;
  border: 2px solid rgb(52, 77, 42);
  border-radius: 8px;         /* cantos arredondados */
  padding: 10px 20px;         /* espaço interno horizontal e vertical */
  margin: 10px;               /* espaço externo entre botões */
  font-size: 16px;            /* tamanho da fonte */
  cursor: pointer;            /* cursor de mãozinha ao passar o mouse */
  transition: background-color 0.3s ease; /* animação suave */
  font-family: 'VT323', monospace; /* fonte quadrada estilo terminal */
}

button:hover {
  background-color: rgb(98, 137, 82); /* muda cor ao passar o mouse */
  color: white;
}

#home {
  color: black;
  background-color: rgb(157, 159, 103);
  border: 2px solid black;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  font-family: 'MinhaFonte', sans-serif;
  transform: translate(50% , 100%);
}
#home:hover {
  font-family: 'MinhaFonte', sans-serif;
  background-color: rgb(81, 112, 68); /* muda cor ao passar o mouse */
  color: white
}
#certa {
  font-family: 'MinhaFonte', sans-serif;
  font-size: smaller;
  color: white;
  text-shadow: 2px #000000;
}
